html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
img,
ul,
li,
article,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

* {
  box-sizing: border-box;
}

a:focus, button:focus, div:focus {
  outline: none;
  border: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--DINProBold);
}

@font-face {
  font-family: "CharterC";
  font-style: normal;
  font-weight: 400;
  src: local("CharterC"), url("/fonts/CharterC.woff2") format("woff2"), url("/fonts/CharterC.woff") format("woff");
}
@font-face {
  font-family: "DINProBold";
  font-style: normal;
  font-weight: 700;
  src: local("DINProBold"), url("/fonts/DINProBold.woff2") format("woff2"), url("/fonts/DINProBold.woff") format("woff");
}
@font-face {
  font-family: "DINProMedium";
  font-style: normal;
  font-weight: 500;
  src: local("DINProMedium"), url("/fonts/DINProMedium.woff2") format("woff2"), url("/fonts/DINProMedium.woff") format("woff");
}
@font-face {
  font-family: "DINProRegular";
  font-style: normal;
  font-weight: 400;
  src: local("DINProRegular"), url("/fonts/DINProRegular.woff2") format("woff2"), url("/fonts/DINProRegular.woff") format("woff");
}
:root {
  --beige-968a: #968a7c;
  --beige-9685: #968571;
  --beige-f1: #f1ece0;
  --beige-e2: #e2d8c0;
  --beige-da: #dad4cb;
  --blue-be: #becdd4;
  --blue-df: #dfe6ea;
  --brown-42: #422510;
  --brown-70: #706049;
  --green-af: #afcb9c;
  --green-b0: #b0cc9d;
  --green-d8: #d8e6ce;
  --grey-3c: #3c3a33;
  --pink-c2: #c2b3c6;
  --pink-c26: #c26e79;
  --pink-d7: #d70d2e;
  --pink-9a: #9a0e20;
  --pink-e9: #e9bdd9;
  --pink-e6: #e6c3c7;
  --violet-c3: #c3b4c7;
  --violet-e1: #e1dae3;
  --white: #ffffff;
  --yellow-b9: #b99c56;
  --yellow-e2: #e2d8bf;
  --CharterC: "CharterC", sans-serif;
  --DINProBold: "DINProBold", sans-serif;
  --DINProMedium: "DINProMedium", sans-serif;
  --DINProRegular: "DINProRegular", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 23px;
  height: 60px;
}
.header .nav__item, .header__burger-line, .header__menu-title {
  color: var(--beige-968a);
  text-transform: uppercase;
  transition: color 0.3s linear;
}
.header__item {
  display: flex;
  justify-content: space-between;
  padding: 13px 0;
  width: 35.5%;
  font-family: var(--DINProBold);
  transition: color 0.3s linear;
}
.header__logo {
  margin: 10px 10px 0 16px;
  width: 219px;
  height: 66px;
  z-index: 2;
}
.header__contact {
  display: flex;
  flex-direction: column;
}
.header__menu {
  position: relative;
  cursor: pointer;
}
.header__burger {
  position: relative;
  margin-top: 3px;
  width: 29px;
  height: 17px;
  z-index: 6;
}
.header__menu-title {
  font-size: 9px;
}
.header__burger-line, .header__burger::before, .header__burger::after {
  right: 0;
  position: absolute;
  height: 2px;
  transition: all 0.3s linear;
  background-color: var(--beige-968a);
}
.header__burger::before {
  width: 28px;
}
.header__burger-line {
  width: 23px;
}
.header__burger::after {
  width: 17px;
}
.header__burger::before, .header__burger::after {
  content: "";
}
.header__burger::before {
  top: 0;
}
.header__burger::after {
  bottom: 0;
}
.header__burger-line {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.header__burger-points {
  position: absolute;
  left: -330px;
  top: 47px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  transition: all 0.5s linear;
  z-index: 5;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__burger-item {
  display: block;
  margin-bottom: 12px;
  color: var(--beige-968a);
  transition: color 0.3s linear;
}
.header__burger._active span {
  transform: scale(0) translate(0px, -50%);
}
.header__burger._active::before {
  width: 80%;
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.header__burger._active::after {
  width: 80%;
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}
.header__burger-points._active {
  left: -23px;
}
.header__nav {
  display: flex;
  align-items: center;
}

.nav__item {
  position: relative;
  font-size: 12px;
}
.nav__item--active {
  font-family: var(--DINProMedium);
}
.nav__item--active::after {
  content: url("../../images/arrow-down.svg");
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
}
.nav__item:nth-child(2n) {
  margin-left: 28px;
}
.nav__item:nth-child(2n+1) {
  margin-right: 28px;
}
.nav__item:nth-child(2n)::before {
  content: url("../../images/rhomb.png");
  position: absolute;
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  cursor: default;
}

.contact {
  padding-top: 5px;
}
.contact__phone {
  margin-bottom: 4px;
  font-size: 16px;
  color: var(--grey-3c);
}
.contact__order-call {
  font-size: 11px;
  color: var(--yellow-b9);
  text-decoration: underline;
  text-transform: uppercase;
  align-self: flex-end;
  transition: color 0.3s linear;
}

.header__menu:hover .header__burger::before, .header__menu:hover .header__burger::after, .header__menu:hover .header__burger-line, .header__menu:focus-visible .header__burger::before, .header__menu:focus-visible .header__burger::after, .header__menu:focus-visible .header__burger-line {
  background-color: var(--brown-70);
}
.header__menu:active .header__burger::before, .header__menu:active .header__burger::after, .header__menu:active .header__burger-line {
  background-color: var(--brown-42);
}
.header .contact:hover .contact__order-call, .header__menu:hover .header__menu-title, .header__burger-item:hover,
.header .contact__order-call:focus-visible, .header__menu:focus-visible .header__menu-title, .header__burger-item:focus-visible {
  color: var(--brown-42);
}
.header .nav__item:hover {
  color: var(--brown-70);
}
.header .nav__item:focus-visible {
  color: var(--brown-42);
}
.header .nav__item:active {
  color: var(--brown-70);
}